.container { display: flex; align-items: center; margin-bottom: 20px;} 
.percentage { font-size: 2em; margin: 0 20px; } 
.button { padding: 10px 20px; font-size: 1em; cursor: pointer; } 
.message { display: none; font-size: 1.5em; color: white;  border-radius: 10px; transition: opacity 0.5s ease; opacity: 0;}

.message {
    text-align: center;
    position: absolute;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-wrap: nowrap;
    
}

.container-2 {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.p2 {
    margin-top: 90px;
}

.percentage {
    font-family: Poppins;
    margin-bottom: 40px;
    color: #FFFFFF;
}

.b11 {
    background: #5d5df0af;
    border-radius: 999px;
    box-shadow: #5d5df0af 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 30%;
    word-break: break-word;
    border: 0;
    margin-bottom: 50px;
  }

